body {
  font-family: Arial, sans-serif;
  background-color: rgb(234, 134, 6);
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('../img/gnuttar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,  
        -2px  2px 0 black,  
         2px  2px 0 black; /* Skuggor i alla riktningar för att skapa kant */
}

section {
  padding: 20px;
  background-color: rgb(131, 181, 211);
  border-radius: 5px;
}

h1 {
    color: red;
    font-size: 90px;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,  
    -2px  2px 0 black,  
     2px  2px 0 black; /* Skuggor i alla riktningar för att skapa kant */
}

h2 {
  text-align: center;
  color: green;
  font-size: 50px;
  text-shadow: 
       -2px -2px 0 black,  
         2px -2px 0 black,  
        -2px  2px 0 black,  
         2px  2px 0 black; /* Skuggor i alla riktningar för att skapa kant */
}

.product {
  margin: 30px auto;
  padding: 10px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(237, 195, 8);
}

.product img {
  max-width: 100%;
  height: auto;
}

.email-field {
  margin-bottom: 10px;
}

.email-field button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

footer {
    background-image: url('../img/gnuttar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  margin-top: 20px;
  padding: 10px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
}


@font-face {
	font-family: 'CHLORINR';
	src: local('CHLORINR'), url('fonts/CHLORINR.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_200">Text with this font applied</p> */
.fontsforweb_fontid_200 {
	font-family: 'CHLORINR' !important;
}

/* Font downloaded from FontsForWeb.com */